<!DOCTYPE html>
<html>
  <head>
    <title>Stat Tracker - Sign Up</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles.css" type="text/css">
  </head>
  <body>
    <nav>
      <a href="/api/activities">Home</a>
      <a href="/login">Login</a>
      <a href="/">Logout</a>
      <a href="/signup">Sign Up</a>
    </nav>
    <h3>Sign up and start statting away!</h3>
    <form method="post">
      <label for="username">Choose a username:</label>
      <input type="text" name="username" placeholder="choose a username">
      <br>
      <label for="password">Choose a password:</label>
      <input type="password" name="password" placeholder="choose a password">
      <br>
      <label for="username">Confirm your password:</label>
      <input type="password" name="confirmPassword" placeholder="confirm password">
      <br>
      <input type="submit" value="Sign Up!">
    </form>

  </body>
</html>
