<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Clement's Personal Stat Tracking App</title>
  </head>
  <body>
    <h1>Clement's Personal Stat Tracking App</h1>
    <h3>All Stats: {{allStats}}</h3>

  </body>
</html>
